.hour {
    font-family: "Raleway";
    font-weight: 100;
    letter-spacing: 15px;
}
.love1 {
    font-family: "Lora";
    font-weight: 700;
    letter-spacing: 15px;
}
.face1 {
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 15px;
}
.complete {
    font-family: "Lora";
    font-weight: 400;
    letter-spacing: 15px;
}
.deadly {
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 15px;
}
.away {
    font-family: "Lora";
    font-weight: 100;
    letter-spacing: 15px;
}
.looked{
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 15px;
}
.life{
    font-family: "Lora";
    font-weight: 400;
    letter-spacing: 15px;
}
.blood1{
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 15px;
}
.eyesight{
    font-family: "Lora";
    font-weight: 400;
    letter-spacing: 15px;
}
.trees{
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 15px;
}
.midnight{
    font-family: "Lora";
    font-weight: 100;
    letter-spacing: 15px;
}
.single{
    font-family: "Raleway";
    font-weight: 100;
    letter-spacing: 15px;
}
.start{
    font-family: "Lora";
    font-weight: 100;
    letter-spacing: 15px;
}
.chords{
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 15px;
}
.blood2{
    font-family: "Lora";
    font-weight: 400;
    letter-spacing: 15px;
}
.winter{
    font-family: "Raleway";
    font-weight: 100;
    letter-spacing: 15px;
}
.love2{
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 15px;
}
.silent{
    font-family: "Raleway";
    font-weight: 100;
    letter-spacing: 15px;
}
.love3{
    font-family: "Lora";
    font-weight: 700;
    letter-spacing: 15px;
}
.sweet{
    font-family: "Raleway";
    font-weight: 100;
    letter-spacing: 15px;
}
.before{
    font-family: "Lora";
    font-weight: 100;
    letter-spacing: 15px;
}
.dwelling{
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 15px;
}
.nomore{
    font-family: "Lora";
    font-weight: 100;
    letter-spacing: 15px;
}

.firstpara1 {
    text-align: left;
    line-height: 0.75;
    color: rgb(255, 196, 232);
}
.secondpara1 {
    text-align: center;
    line-height: 1.5;
    color: rgb(255, 149, 215);
}
.thirdpara1 {
    text-align: right;
    line-height: 2;
    color: rgb(252, 103, 195);
}
.header1 {
    font-family: "Raleway";
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    border: 5px dashed rgb(84, 118, 228);
    margin: 20px;
}

.subheading1 {
    font-family: "Lora";
    font-weight: 100;
    text-transform: capitalize;
    color: rgb(84, 118, 228);
    position: absolute;
    top: 50px;
    left: 230px;
}

.firstpara2 {
    letter-spacing: 25px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-family: "Amiri";
    font-weight: 700;
    font-size: 15px;
    color: rgba(184, 140, 255, 0.37);
    position: absolute;
    top: 150px;
    left: 80px;
}

.secondpara2 {
    letter-spacing: 15px;
    line-height: 0.5;
    text-transform: capitalize;
    text-align: center;
    font-family: "Amiri";
    font-weight: 400;
    font-size: 17px;
    color: rgba(184, 140, 255, 0.37);
    position: absolute;
    top: 300px;
    left: 270px;
}

.thirdpara2 {
    letter-spacing: 0px;
    line-height: 0.25;
    text-transform: lowercase;
    text-align: center;
    font-family: "Amiri";
    font-weight: 400;
    font-size: 20px;
    color: rgba(184, 140, 255, 0.37);
    position: absolute;
    top: 400px;
    left: 540px;
}

.header2 {
    letter-spacing: 120px;
    text-transform: uppercase;
    font-family: "Syne Mono";
    color: rgb(252, 103, 103);
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    border: 2px dashed rgb(252, 103, 103);
}

.subheading2 {
    text-transform: uppercase;
    position: absolute;
    top: 600px;
    right: 20px;
    font-family: "Syne Mono";
    font-size: 10px;
    color: rgb(180, 219, 255);
}

.s1 {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: "Cutive Mono";
}
.s2 {
    letter-spacing: 0px;
    font-size: 17px;
    font-family: "PT Mono";
}
.s3 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s4 {
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}
.s5 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s6 {
    letter-spacing: 0px;
    font-size: 17px;
    font-family: "PT Mono";
}
.s7 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s8 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s9 {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: "Cutive Mono";
}
.s10 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s11 {
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}
.s12 {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: "Cutive Mono";
}
.s13 {
    letter-spacing: 0px;
    font-size: 17px;
    font-family: "PT Mono";
}
.s14 {
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s15{
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}
.s16 {
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}
.s17 {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: "Cutive Mono";
}
.s18 {
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}
.s19 {
    letter-spacing: 0px;
    font-size: 17px;
    font-family: "PT Mono";
}
.s20{
    letter-spacing: 0px;
    font-size: 17px;
    font-family: "PT Mono";
}
.s21{
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s22{
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s23{
    letter-spacing: 25px;
    font-size: 15px;
    text-transform: uppercase;
}
.s24{
    letter-spacing: 15px;
    font-size: 17px;
    text-transform: lowercase;
}

.firstpara3 {
    line-height: 1.2;
    text-align: center;
    color: rgb(255, 146, 146);
}

.secondpara3 {
    line-height: 0.75;
    text-align: center;
    color: rgba(255, 146, 146, 0.767);
}

.thirdpara3 {
    line-height: 0.5;
    text-align: center;
    color: rgba(255, 146, 146, 0.534);
}
.header3 {
    letter-spacing: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    font-family: fantasy;
    color: rgb(64, 102, 226);
}
.subheading3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: cursive;
    color: rgb(116, 140, 221);
}

.paras4 {
    letter-spacing: 0;
    line-height: 0.5;
    font-size: xx-large;
    text-transform: capitalize;
    color: rgb(126, 126, 126);
}
.l1 {
    position: absolute;
    top: 115px;
    left: 390px;
}
.l2 {
    position: absolute;
    top: 135px;
    left: 349px;
}
.l3 {
    position: absolute;
    top: 155px;
    left: 329px;
}
.l4 {
    position: absolute;
    top: 175px;
    left: 320px;
}
.l5 {
    position: absolute;
    top: 195px;
    left: 306px;
}
.l6 {
    position: absolute;
    top: 215px;
    left: 295px;
}
.l7 {
    position: absolute;
    top: 235px;
    left: 150px;
}
.l8 {
    position: absolute;
    top: 255px;
    left: 110px;
}
.l9 {
    position: absolute;
    top: 275px;
    left: 100px;
}
.l10 {
    position: absolute;
    top: 295px;
    left: 85px;
}
.l11 {
    position: absolute;
    top: 315px;
    left: 65px;
}
.l12 {
    position: absolute;
    top: 335px;
    left: 55px;
}
.l13 {
    position: absolute;
    top: 355px;
    left: 55px;
}
.l14 {
    position: absolute;
    top: 375px;
    left: 55px;
}
.l15 {
    position: absolute;
    top: 395px;
    left: 55px;
}
.l16 {
    position: absolute;
    top: 415px;
    left: 60px;
}
.l17 {
    position: absolute;
    top: 435px;
    left: 70px;
}
.l18 {
    position: absolute;
    top: 455px;
    left: 80px;
}
.l19 {
    position: absolute;
    top: 475px;
    left: 100px;
}
.l20 {
    position: absolute;
    top: 495px;
    left: 125px;
}
.l21 {
    position: absolute;
    top: 515px;
    left: 125px;
}
.l22 {
    position: absolute;
    top: 535px;
    left: 120px;
}
.l23 {
    position: absolute;
    top: 555px;
    left: 100px;
}
.l24 {
    position: absolute;
    top: 575px;
    left: 80px;
}
.l25 {
    position: absolute;
    top: 595px;
    left: 70px;
}
.l26 {
    position: absolute;
    top: 615px;
    left: 63px;
}
.l27 {
    position: absolute;
    top: 635px;
    left: 61px;
}
.l28 {
    position: absolute;
    top: 655px;
    left: 55px;
}
.l29 {
    position: absolute;
    top: 675px;
    left: 59px;
}
.l30 {
    position: absolute;
    top: 695px;
    left: 63px;
}
.l31 {
    position: absolute;
    top: 715px;
    left: 72px;
}
.l32 {
    position: absolute;
    top: 735px;
    left: 80px;
}
.l33 {
    position: absolute;
    top: 755px;
    left: 90px;
}
.l34 {
    position: absolute;
    top: 775px;
    left: 105px;
}
.l35 {
    position: absolute;
    top: 795px;
    left: 120px;
}
.l36 {
    position: absolute;
    top: 815px;
    left: 130px;
}
.l37 {
    position: absolute;
    top: 835px;
    left: 140px;
}
.l38 {
    position: absolute;
    top: 855px;
    left: 155px;
}
.l39 {
    position: absolute;
    top: 875px;
    left: 160px;
}
.l40 {
    position: absolute;
    top: 895px;
    left: 165px;
}
.l41 {
    position: absolute;
    top: 915px;
    left: 175px;
}
.header4 {
    font-size: larger;
    letter-spacing: 50px;
    text-transform: uppercase;
    color: rgb(116, 140, 221);
    position: absolute;
    top: 5px;
    left: 20px;
}
.subheading4 {
    text-align: right;
    position: absolute;
    top: 40px;
    right: 5px;
    text-transform: uppercase;
    font-size: x-small;
    color: rgb(145, 161, 214);
}

.header5 {
    font-size: larger;
    letter-spacing: 50px;
    text-transform: uppercase;
    color: rgb(255, 146, 146);
    font-family: "Montserrat";
    font-weight: 700;
    position: absolute;
    top: 5px;
    left: 20px;
}
.subheading5 {
    text-align: right;
    font-family: "Montserrat";
    font-weight: 300;
    position: absolute;
    top: 45px;
    right: 5px;
    text-transform: uppercase;
    font-size: x-small;
    color: rgb(255, 189, 189);
}
.paras5 {
    letter-spacing: 0;
    line-height: 0.5;
    font-size: xx-large;
    text-transform: capitalize;
    color: rgb(126, 126, 126);
}
.ll1 {
    position: absolute;
    top: 115px;
    left: 390px;
}
.ll2 {
    position: absolute;
    top: 135px;
    left: 349px;
}
.ll3 {
    position: absolute;
    top: 155px;
    left: 329px;
}
.ll4-1 {
    position: absolute;
    top: 175px;
    left: 320px;
}
.ll4-2 {
    position: absolute;
    top: 175px;
    left: 505px;
}
.ll5-1 {
    position: absolute;
    top: 195px;
    left: 306px;
}
.ll5-2 {
    position: absolute;
    top: 195px;
    left: 505px;
}
.ll6 {
    position: absolute;
    top: 215px;
    left: 295px;
}
.ll7 {
    position: absolute;
    top: 235px;
    left: 150px;
}
.ll8 {
    position: absolute;
    top: 255px;
    left: 110px;
}
.ll9 {
    position: absolute;
    top: 275px;
    left: 100px;
}
.ll10 {
    position: absolute;
    top: 295px;
    left: 85px;
}
.ll11 {
    position: absolute;
    top: 315px;
    left: 65px;
}
.ll12 {
    position: absolute;
    top: 335px;
    left: 55px;
}
.ll13 {
    position: absolute;
    top: 355px;
    left: 55px;
}
.ll14 {
    position: absolute;
    top: 375px;
    left: 55px;
}
.ll15 {
    position: absolute;
    top: 395px;
    left: 55px;
}
.ll16 {
    position: absolute;
    top: 415px;
    left: 60px;
}
.ll17 {
    position: absolute;
    top: 435px;
    left: 68px;
}
.ll18 {
    position: absolute;
    top: 455px;
    left: 80px;
}
.ll19 {
    position: absolute;
    top: 475px;
    left: 100px;
}
.ll20-1 {
    position: absolute;
    top: 495px;
    left: 125px;
}
.ll20-2 {
    position: absolute;
    top: 495px;
    left: 470px;
}
.ll21-1 {
    position: absolute;
    top: 515px;
    left: 125px;
}
.ll21-2 {
    position: absolute;
    top: 515px;
    left: 475px;
}
.ll22-1 {
    position: absolute;
    top: 535px;
    left: 120px;
}
.ll22-2 {
    position: absolute;
    top: 535px;
    left: 385px;
}
.ll23-1 {
    position: absolute;
    top: 555px;
    left: 100px;
}
.ll23-2 {
    position: absolute;
    top: 555px;
    left: 390px;
}
.ll24 {
    position: absolute;
    top: 575px;
    left: 80px;
}
.ll25 {
    position: absolute;
    top: 595px;
    left: 70px;
}
.ll26-1 {
    position: absolute;
    top: 615px;
    left: 63px;
}
.ll26-2 {
    position: absolute;
    top: 615px;
    left: 370px;
}
.ll27-1 {
    position: absolute;
    top: 635px;
    left: 61px;
}
.ll27-2 {
    position: absolute;
    top: 635px;
    left: 370px;
}
.ll28 {
    position: absolute;
    top: 655px;
    left: 55px;
}
.ll29 {
    position: absolute;
    top: 675px;
    left: 59px;
}
.ll30 {
    position: absolute;
    top: 695px;
    left: 63px;
}
.ll31 {
    position: absolute;
    top: 715px;
    left: 72px;
}
.ll32 {
    position: absolute;
    top: 735px;
    left: 80px;
}
.ll33 {
    position: absolute;
    top: 755px;
    left: 90px;
}
.ll34 {
    position: absolute;
    top: 775px;
    left: 105px;
}
.ll35 {
    position: absolute;
    top: 795px;
    left: 120px;
}
.ll36 {
    position: absolute;
    top: 815px;
    left: 130px;
}
.ll37 {
    position: absolute;
    top: 835px;
    left: 140px;
}
.ll38-1 {
    position: absolute;
    top: 855px;
    left: 155px;
}
.ll38-2 {
    position: absolute;
    top: 855px;
    left: 365px;
}
.ll39-1 {
    position: absolute;
    top: 875px;
    left: 159px;
}
.ll39-2 {
    position: absolute;
    top: 875px;
    left: 365px;
}
.ll40-1 {
    position: absolute;
    top: 895px;
    left: 165px;
}
.ll40-2 {
    position: absolute;
    top: 895px;
    left: 292px;
}
.ll41 {
    position: absolute;
    top: 915px;
    left: 292px;
}
.ll42 {
    position: absolute;
    top: 935px;
    left: 155px;
}
.ll43 {
    position: absolute;
    top: 955px;
    left: 150px;
}
.lovee1 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 180px;
    left: 380px;
    color: rgb(255, 146, 146);
}
.lovee2 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 500px;
    left: 295px;
    color: rgb(255, 146, 146);
}
.lovee3 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 540px;
    left: 260px;
    color: rgb(255, 146, 146);
}
.lovee4 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 620px;
    left: 245px;
    color: rgb(255, 146, 146);
}
.lovee5 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 860px;
    left: 240px;
    color: rgb(255, 146, 146);
}
.lovee6 {
    display: inline;
    font-size: 60px;
    position: absolute;
    top: 900px;
    left: 163px;
    color: rgb(255, 146, 146);
}
