div {
    margin: 15px;
}

h1 {
     
    color: rgb(255, 183, 237);
    padding-left: 40%;
}

h3 {
    color: rgb(114, 114, 114);
    padding-left: 50px;
    padding-top: 25px;
}

.firstpara1 {
    padding: 20px;
    border: 5px dashed;
    border-color: rgb(183, 255, 225);

}

.secondpara1 {
    position: relative;
    top: 20px;
    left: 60%;
}

.thirdpara1 {
    position: absolute;
    top: 500px;
    left: 300px;
}