div {
    margin: 15px;
}

h1 {
     
    color: rgb(255, 183, 237);
    margin: 30px;
}

h2 {
    color: rgb(114, 114, 114);
    margin: 10px;
}

.firstpara1 {
    display: inline-block;

}

.secondpara1 {
    position: relative;
    top: 25px;
    left: 70%;
}

.thirdpara1 {
    position: absolute;
    top: 300px;
    left: 100px;
}